
.name-text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.name-value {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

.group{
  padding-left: 50px;
  padding-top: 10px;
  justify-content: flex-start;  
  width: 50%;
}

.list-test{
  display: flex;
  justify-content: flex-start;  
}
.tam{
  width: 50%; 
}

.li-item{
  justify-content: center;
  align-items: center;
}