.item{
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.name-text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.name-value {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

.group{
  width: 100%;
  padding-top: 10px;
  padding-left: 50px;
}

.total {
  padding-left: 0;
}